:root {
  --pepper-red:#9f2a00;
  --pepper-green:green;
}

html {
  background-color:rgb(1,4,9);
  color:#eee;
  overflow-y:scroll;
  text-align:center;
}

body {
  margin:0px;
}

h1,h2,h3,h4 {
  color:#eee;
  background-color:var(--pepper-red);
  margin:0px;
}

h1,h2 {
  padding:.5em;
}

h3,h4 {
  padding:.25em;
}

a:active, a:link, a:visited {
  color:var(--pepper-green);
  text-decoration:none;
}

a:hover {
  color:var(--pepper-red);
  text-decoration:none;
}
